<section class="tab tab-abilities" data-group="primary" data-tab="tab-abilities">
	<div class="abilities-grid">
		<div class="grid-2-columns">
			{{> actors/ship/partials/hp }}
			{{> actors/ship/partials/hull }}
			{{> actors/ship/partials/speed }}

			{{> actors/ship/partials/agility }}
			{{> actors/ship/partials/skill }}
			{{> actors/ship/partials/morale }}
			{{> actors/ship/partials/crew }}

		</div>

		<div class="grid-1-columns">
			{{> actors/ship/abilities/attacks }}
			{{> actors/ship/abilities/specials }}
			{{> actors/ship/abilities/features}}
		</div>
	</div>
</section>
