<div class="SD-box grid-colspan-2">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.ship.crew'}}</label>
		<span></span>
	</div>
	<div class="content larger">
		<div class="value-grid">
			<input
				name="system.currentCrewNote"
				type="text"
				class="detail-value current-crew-note"
				value="{{ system.currentCrewNote }}"
			/>
			<div>/</div>
			<input
				name="system.maxCrewNote"
				type="text"
				class="detail-value max-crew-note"
				value="{{ system.maxCrewNote }}"
			/>
		</div>
	</div>
</div>
