<div class="SD-box">
	<div class="header">
			<a
				data-action="roll-hull"
			>
				<label>{{localize 'SHADOWDARK.sheet.ship.hull'}}</label>
			</a>
			<span></span>
	</div>
	<div class="content centered larger">
			{{numberInput
				actor.system.attributes.ac.value
				name="system.attributes.ac.value"
				placeholder="0"
			}}
	</div>
</div>
