<div class="SD-box grid-colspan-2">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.ship.morale'}}</label>
		<span></span>
	</div>
	<div class="content centered larger">
			{{numberInput
				actor.system.morale
				name="system.morale"
				placeholder="7"
			}}
	</div>
</div>
