<div class="item-grid">
	<h3>{{localize 'SHADOWDARK.skill.type.label'}}</h3>
	<select name="system.skillType">
		{{selectOptions
			config.SKILL_TYPES
			selected=system.skillType
			localize=false
		}}
	</select>
</div>

